

<div class="login-page">
  <div class="login-form-box">
    <%= form_for(resource, :html => {:class => 'login-form'}, url: session_path(resource_name)) do |f| %>
        <%= f.email_field :email, autofocus: true, :class => "login-field", :placeholder => "email" %>
        <%= f.password_field :password, autocomplete: "off", :class => "login-field", :placeholder => "password" %>

      <!--<% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>-->

      <div class="actions">
        <%= f.submit "log in", :class => "login-button" %>
      </div>
    <% end %>
  </div>
</div>

<!--<%= render "users/shared/links" %>-->
